$spacer-unit: 20px;
$page-max-width: 1140px;
$mobile-padding: 0 1em;
$bp-sf-is-expanded: 960px;
$less-than-max-width-padding: 1em;
$pane-title-bar-mb: 2em;

$bp-small-mobile: 320px;
$bp-mobile: 500px;
$bp-tablet: 750px;
$bp-desktop: 1000px;
$bp-desktop-large: $page-max-width;

$bp-logo-regular: 400px;
$bp-header-min-height: 768px;
