// http://accessibility.oit.ncsu.edu/tools/color-contrast/accessible-color-palette.php?&colors=ECD078,D95B43,C02942,542437,53777A,FFFFFF,333333&main=FFFFFF&level=AA

// Functional Color Vars
$primary-link-color: #2476AE;
$base-font-color: #453D36;
$link-hover-color: #666666;

$color-offsetwhite: #FBFCFE;
$shade-offsetwhite: darken(#EFECEC, 3);

$color-kakhi: #FCFCF7;


$color-darkslategray: #262633;
$tint-darkslategray: lighten($color-darkslategray, 10%);

$color-bloodred: #991c1f;

$color-skyblue: #156DF9;

$color-light-skyblue: #b6c9e1;
