// Stacks
$san-serif: 'Source Sans Pro', sans-serif;
$base-font-stack: $san-serif;
$header-font-stack: $san-serif;

// Sizes
$base-font-size: 1.6;

// Font Weights
$ssp-extra-light: 200;
$ssp-light: 300;
$ssp-normal: 400;
$ssp-semi-bold: 600;
$ssp-bold: 700;
$ssp-ultra-bold: 900;

// Functional Weights
$fw-hairline: $ssp-extra-light;
$fw-thin: $ssp-extra-light;
$fw-light: $ssp-light;
$fw-regular: $ssp-normal;
$fw-medium: $ssp-normal;
$fw-semibold: $ssp-semi-bold;
$fw-bold: $ssp-bold;
$fw-heavy: $ssp-ultra-bold;
$fw-black: $ssp-ultra-bold;
