#block-superfish-1.contextual-links-region {
  position: initial;
}

#block-superfish-1 {
  font-weight: $fw-semibold;
  @include text-shadow(none);
  text-align: center;

  .block__title {
    @include element-invisible;
  }

  li,
  a {
    @include transition(background-color, .5s);

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
    }
  }

  ul {
    line-height: 1;
  }

  .sf-style-none {
    // float: none;
    @include inline-block;

    @include breakpoint($bp-sf-is-expanded) {
      @include pie-clearfix;
    }
  }

  // First Level menu item styles
  li.sf-depth-1 {
    &.sfHover a,
    a:hover,
    a:focus,
    a:active {}
  }

  li.sf-depth-1.active-trail {
    > a {
      @include breakpoint($bp-sf-is-expanded) {
        border-bottom: 4px solid $color-bloodred;
      }
    }
  }

  a.sf-depth-1 {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;

    @include breakpoint($bp-sf-is-expanded) {
      padding: 1.5em 1em;
    }

    &.sfHover,
    &:hover,
    &:focus,
    &:active {
      border-top-color: $color-bloodred;
    }

    .sf-sub-indicator {
      top: 1.5em;
    }
  }

  // Accordian Styles
  #superfish-1-toggle {
    @include inline-block;
    text-align: center;
    position: absolute;
    top: .9em;
    right: 1em;
  }
  #superfish-1-toggle.sf-expanded {
    color: #fff;
  }

  .sf-expanded > .sf-accordion-button:before {
    @include icon($fa-var-minus-square);
  }
  .sf-accordion-button {
    line-height: 999px;
    overflow: hidden;
    height: 100%;
    width: 37px;
    text-align: center;
    padding: 0 !important;


    &:before {
      line-height: normal;
      display: block !important;
      @include icon($fa-var-plus-square);
      @include font-size(1.7);
      width: 100%;
      height: 100%;
      line-height: 52px !important;
    }
  }

  .sf-with-ul {
    padding-left: 40px;
  }
}
