%collapse-height-animation {
  .js & {
    height: 0px;
    padding: 0px;
    overflow: hidden;
    display: block!important;
    @include transform(translateZ(0));
    @include transition(all .3s ease-in-out);
  }
}

%basic-divider-solid-wide {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $shade-offsetwhite;
}

%views-grids-of-two {
  .content-wrapper-inner,
  > .field__items {
    @include breakpoint($bp-grids-of-two) {
      @include display-flex;
      @include flex-wrap(wrap);
      @include align-items(flex-end);
    }
  }

  .views-row,
  > .field__item {
    @include flex(0 1 50%);
    padding: 1.5em;
    margin-bottom: 1em;
  }
}
