.l-footer {
  background-color: $color-darkslategray;
  color: #fff;

  padding-top: $row-padding;
  padding-bottom: $row-padding;

  a {
    color: #fff;
  }

  .block__title {
    color: #fff;
  }

  input {
    color: $base-font-color;
  }

  .form-submit {
    color: #fff;
  }
}
