.js .collapse {
  display: none;
  overflow: hidden;
  height: 0;
}

.js .collapsing {
  @include transition(all, .3s);
}

.js .collapse.in {
  display: block;
  height: auto;
}

.js .collapse-trigger {
  display: block;
  padding: 1em;
  background: $color-skyblue;
  color: lighten($color-skyblue, 40);


  &.collapsed {
    background: $shade-offsetwhite;
    color: #444;
  }

  &:hover,
  &:active {
    background: $color-skyblue;
    color: lighten($color-skyblue, 40);
  }

  &:before {
    @include icon($fa-var-minus);
    @include font-size(1.2);
    margin-right: 1em;
    position: relative;
    top: -2px;
  }

  &.collapsed:before {
    @include icon($fa-var-plus);
  }
}

.js .collapsible {
  border: 1px solid $shade-offsetwhite;
  background: $color-offsetwhite;

  > div {
    padding: 2em;
  }
}

