html.js {
  .form-autocomplete {
    background-image: none;
  }
  .throbbing {
    background-image: url('../images/ajax-loader.gif');
    background-position: 95% 50%;
  }
}
.ajax-progress .throbber {
  background: transparent url('../images/ajax-loader.gif') no-repeat 0px 0px;
  @include inline-block;
  vertical-align: bottom;
  height: 12px; /* tweak this according to your gif */
  width: 15px; /* tweak this according to your gif */
  margin-left: 10px;
}

input {
  max-width: 100%;
}

.form-item {
  .form-text,
  .form-textarea {
    padding: .5em;
    @include appearance(none);
    @include border-radius(4px);
    border: 1px solid #e1e1e1;
  }

  .form-textarea {
    @include border-radius(4px 4px 0 0);
  }
}

fieldset {
  padding: 0;
  margin-bottom: 2em;
  border: none;
  border-top: 1px solid $color-bloodred;

  legend {
    padding: 1em;
    background: #fff;
    font-weight: $fw-bold;
    border: 1px solid $color-bloodred;
  }

  .fieldset-wrapper {
    padding: 1em;
  }
}

.form-submit {
  @include appearance(none);
  @include btn;
}
