.page-checkout-review {

  .checkout-help {
    margin-bottom: 1em;
    font-weight: $fw-bold;
    @include font-size(2);
  }

  table {
    width: 100%;

    .pane-title {
      background-color: #414141;
      color: #fff;
    }

    .view-display-id-default {
      .view-footer {
        margin-top: 1em;
      }
    }
  }

  .checkout_review {
    margin-bottom: $row-padding;
  }

  .commerce_payment {
    margin-bottom: 0;
  }

  .extra_pane__node__44 {
    border-top: none;

    legend {
      @include element-invisible;
    }

    .fieldset-wrapper {
      background: $color-message-warning;
      border: 1px solid darken($color-message-warning, 10);
    }
  }
}
