.page-node-5 {
  .magnum-region--first {
    padding: 0;
  }

  .pane-node-body {
    padding: $row-padding 0;
  }
  .pane-people-people-mgmt-eq {
    background: $color-offsetwhite;
    padding-top: $row-padding;
  }

  .view-display-id-people_mgmt_eq {
    .content-wrapper-inner {
      @include breakpoint($bp-grids-of-two) {
        @include display-flex;
      }
    }
  }
}
