.page-dealers {
  .panel-magnum {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .view-display-id-dealers_pane  {
    .grouped-row {
      margin-bottom: 2em;

      .content-wrapper-inner {
        @include breakpoint($bp-grids-of-two) {
          @include display-flex;
          @include flex-wrap(wrap);
        }
      }

      .views-row {
        @include flex(1 1 50%);
        padding: $row-padding;
        border: 1px solid $color-offsetwhite;

        &:nth-child(4n),
        &:first-child {
          background-color: $color-offsetwhite;
        }
      }
    }
  }
}
