.page-solutions {
  .view-display-id-solutions_pane {
    background-image: url('../images/patterns/pattern1.png');
    background-repeat: repeat;

    .views-row {
      padding: 4em 0;
      border-bottom: 1px solid darken($color-offsetwhite, 6);
    }

    .views-row-odd {
      @include rgba-background(rgba(darken($color-offsetwhite, 12),0.15));
    }

    .taxonomy-term--solutions--full {
      @extend .l-container;
    }
  }

}
