.page-solutions {
  .view-display-id-solutions_pane {
    .views-row {
      padding: 4em 0;
      border-bottom: 1px solid darken($color-offsetwhite, 6);
    }

    .views-row-odd {
      background: $color-offsetwhite;
    }

    .taxonomy-term--solutions--full {
      @extend .l-container;
    }
  }

}
