.page-support {

  .panel-pane {
    margin-bottom: 1em;
  }

  .panel-magnum {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .pane-firmware-firmware-pane {
    table {
      width: 100%;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
      }
    }
  }
}
