$color-tabpanel-bg: darken(#EFECEC, 3);

.node-araid-controller-display {
  .pane-node-content {
    background: #f5f5f5;
  }

  .pane-node-content.view-mode-featured_slide {
    background-color: $color-offsetwhite;
    @include background-image(linear-gradient(#EFECEC, white));
  }

  .tabpanel {
    background: $color-tabpanel-bg;

    a {
      color: $color-darkslategray;
    }

   .nav-tabs {
      margin: 0;
      padding: 0;
      @include font-size(1.4);
      font-weight: $fw-semibold;

      .list-item {
        @include inline-block;
        list-style: none;
        margin: 0;
        padding: 0;

        a {
          padding: .8em 1em;
          display: block;
          border-bottom: 2px solid transparent;
          border-top: 2px solid transparent;
          background-color: transparent;
          @include transition(all, .5s);

          &:hover,
          &:focus,
          &:active {
            background-color: lighten($color-tabpanel-bg, 3);
            border-bottom-color: lighten($color-tabpanel-bg, 10);
          }
        }

        &.active a {
          background-color: lighten($color-tabpanel-bg, 5);
          border-bottom-color: $color-bloodred;
        }
      }

      i {
        margin-right: .3em;
      }
    }
  }

  .tab-content.l-container {
    padding-top: $row-padding;
    padding-bottom: $row-padding;
  }

  .tab-content {
    .field--name-field-controller-features-ref {
      .field__item {
        padding-top: $row-padding;
        padding-bottom: $row-padding;
      }

      .field__item.even {
        background: #fff;
      }

      .taxonomy-term--product-controller-features {
        @extend .l-container;
      }
    }
  }
}
