.node-type-article {
  .magnum-region .l-container {
    padding-top: $row-padding;
    padding-bottom: $row-padding;
  }

  .field--name-field-article-controller-ref {
    > .field__items {
      @include breakpoint($bp-grids-of-two) {
        @include display-flex;
        @include flex-wrap(wrap);
        @include align-items(flex-end);

        > .field__item {
          @include flex(0 1 33.332%);
          padding: 1.5em;
          margin-bottom: 1em;
        }
      }
    }
  }
}
