.node--araid-accessory-display--teaser {
  .field--name-field-accessory-product,
  .node__links {
    @include inline-block;
    margin: 0;
    margin-right: .7em;
  }

  .node-readmore {
    a {
      @include btn;
      line-height: normal;
    }
  }
}
